# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env

# OS files
desktop.ini
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# Archive
*.7z
*.zip
*.rar

# Logs
*.log
npm-debug.log*
